.inspire {
  width: 1440px;
  height: 670px;
  background-color: #fcf8f3;
  display: flex;
  align-items: center;
}

.inspire .desciption {
  width: 422px;
  text-align: start;
  margin-left: 100px;
}

.inspire h1 {
  text-align: left;
  margin-bottom: 7px;
}

.inspire p {
  color: var(--color-gray-2, #616161);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-align: left;
}

.inspire button {
  padding: 12px 36px;
  background-color: var(--primary, #b88e2f);
  border: none;
  color: var(--color-white, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-top: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
