footer {
  width: 1240px;
  height: 319px;
  display: grid;
  padding: 48px 100px 38px 100px;
  grid-template-columns: 3fr 1fr 1fr 1fr 2fr 3fr 1fr;
  text-align: left;
}

footer p,
footer a {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer .title {
  margin-bottom: 55px;
  text-align: left;
}

footer .logo {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
  text-align: left;
}

.address {
  font-weight: 400;
  text-align: left;
  color: #9f9f9f;
}

footer a {
  color: #000;
  text-decoration: none;
  margin-bottom: 46px;
  display: block;
}

.footnote {
  color: #000;
  font-weight: 400;
}

.email {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 3px;
  border-bottom: 1px solid black;
  width: 200px;
}
footer .btn {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  border: none;
  padding: 3px;
  border-bottom: 1px solid black;
}

footer hr {
  width: 1240.015px;
  height: 1px;
}

.footnote {
  margin: 0px 100px 38px 100px;
  padding-top: 35px;
  border-top: #d9d9d9 1px solid;
}
.footnote p {
  color: #000;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
